#page-home {
  height: 100vh;
  background: url("../../assets/home-background.svg") no-repeat 750px bottom;
}

#page-home .content {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

#page-home header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
}

#page-home header a {
  display: flex;
  color: var(--title-color);
  font-weight: 700;
}

#page-home header a span {
  display: flex;
  color: #2fb86e;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

#page-home .content header {
  margin: 48px 0 0;
}

#page-home .content main {
  flex: 1;
  max-width: 560px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page-home .content main h1 {
  font-size: 54px;
  color: var(--title-color);
}

#page-home .content main p {
  font-size: 24px;
  margin-top: 24px;
  line-height: 38px;
}

#page-home .content main a {
  width: 100%;
  max-width: 360px;
  height: 72px;
  background: var(--primary-color);
  border-radius: 8px;
  text-decoration: none;
  transition: 400ms;

  display: flex;
  align-items: center;
  overflow: hidden;

  margin-top: 40px;
}

#page-home .content main a span {
  background: rgba(0, 0, 0, 0.08);
  width: 80px;
  height: 72px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

#page-home .content main a strong {
  flex: 1;
  text-align: center;
  color: #fff;
}

#page-home .content main a:hover {
  background: #2fb86e;
}

#modal {
  background-color: #0e0a14ef;
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 400ms;
}

#modal.hide{
    display: none;
}

#modal .content {
  color: white;

  width: 420px !important;
}

#modal .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  width: 100%;
}

#modal .header a{
    width: 20px;
    height: 20px;
    display: flex;
    font-size: 0.01px;
}

#modal .header h1{
    color: white;
    font-size: 36px;
    line-height: 42px;
}

#modal form label{
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 8px;
}

#modal form .field{
    display: flex;
}

#modal form .input{
    width: 350px;
    background-color: #f0f0f5;
    outline: none;
    border-radius: 8px 0px 0px 8px;
    border: none;
    padding: 16px 24px;
    font-size: 16px;
    color: #6c6c80;
}

#modal form button{
    width: 72px;
    height: 72px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0px 8px 8px 0px;
}

#modal form button:hover{
    background-color:#2fb86e;
}

#modal .closeWhite{
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer  
}

#modal .searchWhite{
  color: white;
  cursor: pointer  
}

@media (max-width: 1400px) {
  #page-home {
    height: 100vh;
    background: url("../../assets/home-background.svg") no-repeat 600px bottom;
  }
}

@media (max-width: 1200px) {
    #page-home {
      height: 100vh;
      background: url("../../assets/home-background.svg") no-repeat 400px bottom;
    }
  }

@media (max-width: 900px) {
  #page-home {
    background-position-x: 70vw;
  }
  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home .content header {
    margin: 48px auto 0;
  }

  #page-home .content main {
    align-items: center;
  }

  #page-home .content main h1 {
    font-size: 42px;
  }

  #page-home .content main p {
    font-size: 24px;
  }
}
